# datasets
/data/**
# include the scaler in LFS
!/data/processed/URBAN-SED_v2.0.0/**

# cache
__pycache__

# wandb
/wandb

# logs
/logs
*.log

# models
/models/*
!/models/checkpoints/best_sed_model.pth

